.character {
  &__screen {
    width: 30vw;
    height: 35vw;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid #e84393;
    background-size: cover !important;
    background-position: center !important;
  }
  &__grid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    bottom: 5%;
    left: 10%;
  }
}
